/* ============================= */
/* -------- General CSS -------- */
/* ============================= */

:root{
    --color_dominante: #740b37;
    --background_color: #0b0105;
    --color_tints_9: #e3ced7;
    --color_tints_3: #81234b;
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
  

body {
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: rgb(10 10 10);
    /*background: var(--background_color);*/
    background-image: radial-gradient(ellipse at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
    /*background-image: radial-gradient(ellipse at 50% -20%, #0b0105, rgba(11, 1, 5, 0.5), #220409);*/
}

a {
    color: var(--color_dominante);
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: var(--color_tints_9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: var(--color_dominante);
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}



/* ============================= */
/* ------ Top Header CSS ------- */
/* ============================= */

.top-header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}

.top-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../img/top-header/Hero.webp");
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
}

.top-header .container {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.top-header img {
    height: 200px;
    margin-bottom: 30px;
    border: 15px solid rgba(256, 256, 256, .1);
}

.top-header h1 {
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
}

.top-header h1 span{
    color: var(--color_dominante);
}


.top-header h2 {
    display: inline-block;
    margin: 0;
    font-size: 3vw;
    font-weight: 400;
    color: #ffffff;
    padding-right: 10px;
}

.top-header .typed-cursor {
    font-size: 3vw;
}

.col-md-12.h2 {
    height: 6em; /* Establecer un alto fijo */
    overflow: hidden; /* Ocultar cualquier contenido adicional que podría salir del contenedor */
}


.span-text {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    position: relative;
}

.span-text::after {
    content: "|";
    position: absolute;
    top: 0;
    right: -24px;
    height: 100%;
    animation: blink .5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.scroll-down-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: var(--color_dominante);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}
  
.scroll-down-indicator i {
    color: #ffffff;
    font-size: 20px;
}



/* ============================= */
/* -------- Header CSS --------- */
/* ============================= */

.header {
    background: var(--color_dominante);
    height: 70px;
}

.header.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.header .logo {
    margin: 14px 25px 0 0;
}

.header .logo h1 {
    margin-top: -8px;
}

.header .logo h1 a,
.header .logo h1 a:hover {
    color: #ffffff;
}
  

@media (max-width: 768px) {
    .header.stikcy {
        height: 50px;
    }

    .header.stikcy .logo {
        margin: 10px 0 0 0;
    }

    .header.stikcy .logo h1 {
        padding: 2px 0;
        font-size: 26px;
    }
}

.header .social-nav {
    margin-top: 15px;
}

.header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
}

.header .social-nav a:hover {
    color: var(--background_color);
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

#nav-menu-container {
    margin: 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

.nav-menu a {
    padding: 22px 15px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover>a,
.nav-menu .menu-active>a {
    color: var(--background_color);
}

@media (max-width: 992px) {
    .nav-menu a{
        font-size: 12px;
    }
}

.nav-menu ul {
    margin: 7px 0 0 15px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: var(--color_dominante);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nav-menu ul li a {
    color: #333333;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 15px;
}

.nav-menu ul li a:hover {
    color: #ffffff;
}

.nav-menu ul ul {
    margin: 0;
}

#mobile-nav{
    display: none;
}

#icono-nav {
    display: none;
}

#img-logo{
    width: 60px;
    height: 60px;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }

    #mobile-nav{
        display: block;
    }

    #icono-nav {
        display: block;
    }

    .logo {
        width: 100%;
        text-align: center;
    }
    
    #mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: block !important;
        
    }
    
    #mobile-nav ul li {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    #mobile-nav ul li a {
        color: #ffffff;
        font-size: 16px;
        overflow: hidden;
        padding: 10px 22px 10px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;
    }
    
    #mobile-nav ul li a:hover {
        color: var(--color_dominante);
    }
    
    
    body.mobile-nav-active {
        overflow: hidden;
    }
    
    body.mobile-nav-active #mobile-nav {
        left: 0;
    }
    
    body.mobile-nav-active #mobile-nav-toggle {
        color: #ffffff;
    }
    
    /* Estilos para el icono del menú responsive */
    #icono-nav {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
    }
    
    /* Estilos para el overlay del menú móvil */
    #mobile-body-overly {
        width: 100%;
        height: 100%;
        z-index: 997;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        pointer-events: none; /* Agregar esta línea para permitir clics en los enlaces debajo */
    }
    
    /* Estilos para el menú móvil */
    #mobile-nav {
        position: fixed;
        top: 0;
        padding-top: 18px;
        bottom: 0;
        z-index: 998;
        background: rgba(0, 0, 0, 0.9);
        left: -260px;
        width: 260px;
        overflow-y: auto;
        transition: 0.4s;
    }
}




/* ============================= */
/* ------- Header Title -------- */
/* ============================= */

.section-header h2,
.section-header h3 {
    display: inline-block;
    color: var(--color_tints_3);
    font-size: 35px;
    text-transform: capitalize;
    text-align: left;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color_dominante);
}

.section-header h2::before,
.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    right: 0;
    border-top: 10px solid;
    border-right: 10px solid;
    border-color: transparent var(--color_dominante);
}

.section-header h2::after,
.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    left: 0;
    border-top: 10px solid;
    border-left: 10px solid;
    border-color: transparent var(--color_dominante);
}

.section-header p {
    text-align: left;
    padding-bottom: 0px;
    font-size: 19px;
}

@media (min-width: 992px) {
    .section-header p {
        width: 70%;
    }
}



/* ============================= */
/* ------- About Me CSS -------- */
/* ============================= */

.text-info h4, .text-info p{
    color: #fff;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 9px;
}

@media screen and (max-width:992px) {
    #about .row{
        display: block;
    }
}

@media screen and (max-width:776px) {
    .parent{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 9px;
    }
}

@media screen and (max-width:514px) {
    .parent{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 9px;
    }

    .parent .div img{
        height: 45px;
        width: 45px;
    }

    .parent .titulo{
        font-size: 15px;
    }

    .parent .expl{
        font-size: 12px;
    }
}

.skills{
    margin-bottom: 100px;
}

.div{
    background-color: var(--color_tints_3);
    display: flex;
    transition: all .2s ease-in-out;
}

.div:hover{
    transform: scale(1.05);
    background-color: #490723;
}

.skills-section-class{
    margin-top: 90px;
}

.skills-parent{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.skills-parent h2{
    margin-bottom: 20px;
}

.parent div{
    
    border-radius: 8px;
}

div.div img {
    padding-top: 7px;
    padding-left: 15px;
    width: 55px; 
    height: 55px;
}


.text-info{
    padding-left: 15px;
    padding-top: 10px;
}

.titulo{
    margin: 0;
    font-size: 20px;
}

.expl{
    margin: 0;
    font-size: 15px;
    margin-bottom: 8px;
}

@media (max-width: 992px) {
    div.skill-name img {
        width: 40px; 
        height: 40px;
    }

    .skill-name i{
        font-size: 40px;
    }
}

@media (max-width: 350px) {
    div.skill-name img {
        width: 30px; 
        height: 30px;
    }

    .skill-name i{
        font-size: 30px;
    }
}

.about {
    padding: 60px 0 15px 0;
    position: relative;
    margin-bottom: 100px;
}

.about .row {
    margin-bottom: 30px;
}

.about img {
    width: 100%;
}

.about h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.about h4 {
    font-size: 16px;
    font-weight: 400;
}

.about p {
    font-size: 19px;
    font-weight: 300;
}

.about a,
.experience a {
    display: inline-block;
    padding: 6px 20px;
    color: var(--color_tints_9);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid var(--color_dominante);
    margin-top: 20px;
}

.about a:hover,
.experience a:hover {
    color: #ffffff;
    background: var(--color_dominante);
}

.about .skills h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.about .skill-name {
    position: relative;
    width: 100%;
}

.about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.about .skill-name p:last-child {
    float: right;
}

.about .progress {
    margin-bottom: 15px;
    border-radius: 0;
}

.about .progress .progress-bar {
    background: var(--color_dominante);
    border-radius: 0;
}



/* ============================= */
/* ------- Experience CSS ------ */
/* ============================= */

.experience {
    position: relative;
    padding: 0;
}

.experience a{
    color: #666666;
}

.experience .section-header p {
    margin: 0;
}

.experience .exp-column {
    margin-top: 30px;
    padding: 25px 30px;
    background: var(--color_tints_9);
}

.experience .exp-column::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 30px;
    right: 100%;
    left: 15px;
    background: var(--color_dominante);
}

.experience .exp-column::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 15px;
    left: 100%;
    background: var(--color_dominante);
}

.experience .exp-column:hover::before {
    transition: .3s;
    right: 15px;
}

.experience .exp-column:hover::after {
    transition: .3s;
    left: 15px;
}

.experience .exp-date {
    margin-bottom: 5px;
    color: var(--background_color);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.experience .exp-date span {
    font-weight: 400;
    font-style: italic;
}

.experience .exp-company {
    margin-bottom: 0;
    color: var(--color_dominante);
    font-size: 18px;
    font-weight: 400;
}

.experience .exp-designation {
    margin-bottom: 10px;
    color: var(--background_color);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.experience .exp-detail {
    margin-bottom: 0;
    color: var(--background_color);
}



/* ============================= */
/* -------- Services CSS ------- */
/* ============================= */

.services {
    padding: 60px 0;
    text-align: center;
}

.services .section-header {
    text-align: left;
}

.services .section-header p {
    margin: 0;
}

.services .single-service {
    position: relative;
    text-align: center;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 25px 15px 30px 15px;
    background: var(--color_tints_9);
}

.services .single-service::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 0;
    right: 100%;
    left: 0;
    background: var(--color_dominante);
}

.services .single-service::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 0;
    left: 100%;
    background: var(--color_dominante);
}

.services .single-service:hover::before {
    transition: .3s;
    right: 0;
}

.services .single-service:hover::after {
    transition: .3s;
    left: 0;
}

.services .single-service .service-icon {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 120px;
    color: var(--color_dominante);
}

.services .single-service h4,
.services .single-service h4 a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--color_dominante);
}

.services .single-service p {
    margin-bottom: 0;
    color: var(--background_color);
}

.services .single-service span {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}



/* ============================= */
/* -------- Counter CSS -------- */
/* ============================= */

.counters {
    padding: 60px 0;
    position: relative;
    text-align: center;
    color: #ffffff;
    background: var(--color_dominante);
}

.counters .counter .counter-icon-box {
    color: #ffffff;
    margin: 0;
    font-size: 50px;
    transition: all 400ms linear 0s;
}

.counters .counter:hover .counter-icon-box {
    transform: translateY(-15px);
}

.counters .counter .number {
    font-size: 70px;
    margin: 0 0 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.counters .number:after {
    color: #fff;
    content: "+";
    font-size: 40px;
    position: absolute;
    top: calc(50% + 25px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.counters .counter h4 {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}



/* ============================= */
/* ------- Portfolio CSS ------- */
/* ============================= */

.portfolio {
    position: relative;
    clear: both;
    padding: 60px 0 30px 0;
}

.portfolio .section-header p {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 30px 0;
    list-style: none;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px -3px 5px -3px;
    display: inline-block;
    padding: 10px 15px;
    color: var(--color_dominante);
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    border: 1px solid var(--color_dominante);
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: var(--color_dominante);
    color: #ffffff;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio {
    max-width: 1100px;
    padding:  0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #ff5080;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila-proyectos {
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

#portfolio .fila-proyectos .proyecto {
    max-width: 700px;
    border: 1px solid #000;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila-proyectos .proyecto .imagen-proyecto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila-proyectos .proyecto:hover .imagen-proyecto img {
    filter: blur(16px);
}

#portfolio .fila-proyectos .proyecto .info-proyecto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.959);
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: .5s;
    font-weight: bold;
}

#portfolio .fila-proyectos .proyecto .info-proyecto h3{
    font-size: 23px;
    color: #fff;
    margin: 0;
}

#portfolio .fila-proyectos .proyecto .info-proyecto h4{
    font-size: 12px;
    color: #fff;
}

#portfolio .fila-proyectos .proyecto .info-proyecto p{
    font-size: 18px;
    margin: 0;
    color: #ff5080;
}

#portfolio .fila-proyectos .proyecto:hover .info-proyecto {
    opacity: 1;
}

.repositorio-github a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 14px 0 2px;
    font-size: 38px;
}

.repositorio-github{
    justify-content: space-between;
}

div.techs{
    margin-top: 60px;
}

div.techs img{
    height: 42px;
    width: 42px;
    margin:17px 12px 10px 0;
}

div.techs img:hover{
    transform: scale(1.8);
}

.links{
    display: flex;
}

.repositorio-github a:hover{
    color: var(--color_dominante);
}

@media screen and (max-width:1199px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 20px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 14px;
    }

    div.techs{
        margin-top: 40px;
    }
    
    div.techs img{
        height: 38px;
        width: 38px;
    }

    .repositorio-github a{
        font-size: 34px;
    }

}

@media screen and (max-width:991px) {
    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: block;
    }

    #portfolio .fila .proyecto {
        margin: 10px auto;
        max-width: 80%;
    }

    #portfolio .fila-proyectos .proyecto {
        max-width: 100%; /* El ancho será el 100% del contenedor padre */
        margin: 20px 0; /* Elimina el margen horizontal para ajustarse al ancho */
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto {
        width: 100%; /* El ancho será el 100% del contenedor padre */
        padding: 5px; /* Ajusta el espacio interno para que el texto no se desborde */
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 15px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 12px;
    }

    .repositorio-github a{
        font-size: 18px;
    }

    div.techs img{
        height: 24px;
        width: 24px;
    }
}


@media screen and (max-width:767px) {
    #portfolio {
        padding: 50px 0;
    }

    #portfolio .fila {
        display: block;
    }

    #portfolio .fila .proyecto {
        margin: 10px auto;
        max-width: 80%;
    }

    #portfolio .fila-proyectos {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    #portfolio .fila-proyectos .proyecto {
        max-width: 100%; /* El ancho será el 100% del contenedor padre */
        margin: 20px 0; /* Elimina el margen horizontal para ajustarse al ancho */
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto {
        width: 100%; /* El ancho será el 100% del contenedor padre */
        padding: 5px; /* Ajusta el espacio interno para que el texto no se desborde */
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 12px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 10px;
    }

    div.techs{
        margin-top: 10px;
    }

    .repositorio-github a{
        font-size: 13px;
    }

    div.techs img{
        height: 15px;
        width: 15px;
    }
}

@media screen and (max-width:575px) {
    #portfolio .fila-proyectos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 0;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 20px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 17px;
    }

    .repositorio-github a{
        font-size: 30px;
        margin-left: 10px;
    }

    div.techs{
        margin-top: 50px;
    }

    div.techs img{
        height: 40px;
        width: 40px;
        margin: 6px 6px 12px 6px;
    }
}

@media screen and (max-width:460px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 16px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 13px;
    }

    .repositorio-github a{
        font-size: 22px;
        margin-left: 10px;
    }

    div.techs img{
        height: 30px;
        width: 30px;
        margin: 6px 6px 10px 6px;
    }
}

@media screen and (max-width:410px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 14px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 10px;
    }

    .repositorio-github a{
        font-size: 19px;
        margin-left: 10px;
    }

    div.techs img{
        height: 23px;
        width: 23px;
        margin: 6px 6px 10px 6px;
    }
}

@media screen and (max-width:363px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 10px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 8px;
    }

    .repositorio-github a{
        font-size: 14px;
        margin-left: 10px;
    }

    div.techs img{
        height: 18px;
        width: 18px;
        margin: 6px 6px 10px 6px;
    }
}

@media screen and (max-width:340px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 15px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 10px;
    }

    .repositorio-github a{
        font-size: 17px;
        margin-left: 10px;
    }

    div.techs img{
        height: 22px;
        width: 22px;
        margin: 6px 6px 0 6px;
    }
}

@media screen and (max-width:330px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 10px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 9px;
    }

    .repositorio-github a{
        font-size: 10px;
        margin-left: 10px;
    }

    div.techs{
        margin-top: 30px;
    }

    div.techs img{
        height: 14px;
        width: 14px;
        margin: 6px 6px 10px 6px;
    }
}

@media screen and (max-width:330px) {
    #portfolio .fila-proyectos .proyecto .info-proyecto h4,
    #portfolio .fila-proyectos .proyecto .info-proyecto h3{
        font-size: 8px;
    }

    #portfolio .fila-proyectos .proyecto .info-proyecto p{
        font-size: 7px;
    }

    .repositorio-github a{
        font-size: 8px;
        margin-left: 10px;
    }

    div.techs{
        margin-top: 20px;
    }

    div.techs img{
        height: 10px;
        width: 10px;
        margin: 6px 6px 10px 6px;
    }
}

/* ============================= */
/* -------- Contact CSS -------- */
/* ============================= */

.contact {
    position: relative;
    padding: 60px 0;
}

.contact .contact-info p {
    margin-bottom: 10px;
    color: var(--color_tints_9);
    font-size: 22px;
    font-weight: 300;
}

@media (max-width: 575px) {
    .contact .contact-info p {
        font-size: 16px;
    }
}

.contact .contact-info a {
    color: var(--color_tints_9);
}

@media (max-width: 767px) {
    .contact .social {
        margin-bottom: 18px;
    }
}

.contact .contact-info a:hover {
    color: var(--color_dominante);
}

.contact .contact-info i {
    width: 30px;
    color: var(--color_tints_3);
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid var(--color_tints_3);
}

.contact .social a i {
    color: var(--color_tints_3);
}

.contact .social a:hover {
    background: var(--color_tints_3);
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .form {
    color: #666666;
    font-weight: 300;
}

.contact .form input,
.contact .form textarea {
    color: var(--background_color);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--color_dominante);
    border-radius: 0;
    box-shadow: none;
    resize: none;
}

.contact .form button[type="submit"] {
    padding: 7px 30px 10px 30px;
    color: var(--color_dominante);
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--color_dominante);
    background: #ffffff;
}

.contact .form button[type="submit"]:hover {
    background: var(--color_dominante);
    color: #FFFFFF;
}

#send{
    display: none;
}

/* ============================= */
/* --------- Footer CSS -------- */
/* ============================= */

.footer {
    position:relative;
    padding: 30px 0;
    text-align: center;
    background: var(--color_dominante);
}

.footer .copyright p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.footer .copyright p:last-child {
    margin: 0;
}