<div class="about" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4">
                <img class="img-fluid" src="/img/about/foto1.jpeg" />
            </div>

            <div class="col-md-16 col-lg-8">
                <header class="section-header">
                    <h2>Sobre Mí</h2>
                </header>
                <h3><strong>Nombre:</strong> Valentin Chianese</h3>
                <h3>
                    <strong>Profesión:</strong> Técnico Universitario en Informática
                    - Desarrollador de software
                </h3>
                <p>
                    Mi nombre es Valentín Chianese y soy Técnico universitario
                    en informática y desarrollador de software de Buenos Aires,
                    Argentina. Empecé a programar con Python, pero rápidamente
                    me enamoré de la programación orientada a objetos y Java. He
                    desarrollado y ayudado a desarrollar varios proyectos con
                    este paradigma, en los que he podido aplicar mis
                    conocimientos de algoritmos, estructuras de datos y diseño
                    de software.
                </p>
                <p>
                    En mis estudios, pude comprender y vivir desde dentro lo que
                    es el análisis, el diseño y la gestión de proyectos
                    informáticos, en particular, en un proyecto académico
                    "KarU", trabajando sobre el marco de trabajo para escalar las metodologías ágiles, SAFe, tuve la
                    oportunidad de participar en uno de los equipos siendo desarrollador
                    frontend.
                </p>
                <p>
                    Soy una persona creativa y autodidacta, creo que los
                    desarrolladores de software tenemos un papel importante que
                    desempeñar en la creación de un futuro mejor para todos.
                </p>
                <a href="/cv/CV Valentin Chianese.pdf" target="_blank" id="downloadBtn">Descargar CV</a>
                <a
                    href="https://github.com/ImLevan/Certificados"
                    target="_blank">Certificados</a
                >
            </div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width: 992px) {
        #about .row {
            display: block;
        }
    }

    .about {
        padding: 80px 0 15px 0;
        position: relative;
        margin-bottom: 100px;
    }

    .about .row {
        margin-bottom: 30px;
    }

    .about img {
        border-radius: 37px;
        width: 100%;
    }

    .about h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .about h4 {
        font-size: 16px;
        font-weight: 400;
    }

    .about p {
        font-size: 19px;
        font-weight: 300;
    }

    .about a,
    .experience a {
        display: inline-block;
        padding: 6px 20px;
        color: var(--color_tints_9);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        border: 1px solid var(--color_dominante);
        margin-top: 20px;
    }

    .about a:hover,
    .experience a:hover {
        color: #ffffff;
        background: var(--color_dominante);
    }
</style>
