<div class="contact" id="contact">
    <div class="container">
        <div class="section-header">
            <h3>Contáctame</h3>
            <p>
                Si tienes un proyecto en mente, una idea que te gustaría
                discutir o simplemente quieres charlar sobre tecnología, no
                dudes en contactarme. Estoy aquí para ayudarte a convertir tus
                ideas en realidades digitales. ¡Espero saber de ti pronto!
            </p>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="contact-info">
                    <p><i class="fa fa-user"></i>Valentin Chianese</p>
                    <p><i class="fa fa-tag"></i>Desarrollador de Software</p>
                    <p>
                        <i class="fa fa-map-marker"></i>Buenos Aires, Argentina
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i><a
                            href="mailto:chianesevalentin@gmail.com"
                            >chianesevalentin@gmail.com</a
                        >
                    </p>
                    <div class="social">
                        <a href="https://github.com/ImLevan" target="_blank"
                            ><i class="fa fa-github"></i></a
                        >
                        <a
                            href="https://ar.linkedin.com/in/valentin-chianese"
                            target="_blank"><i class="fa fa-linkedin"></i></a
                        >
                        <a
                            href="https://www.instagram.com/chianesevalentin/"
                            target="_blank"><i class="fa fa-instagram"></i></a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .contact {
        position: relative;
        padding: 60px 0;
    }

    .contact .contact-info p {
        margin-bottom: 10px;
        color: var(--color_tints_9);
        font-size: 22px;
        font-weight: 300;
    }

    @media (max-width: 575px) {
        .contact .contact-info p {
            font-size: 16px;
        }
    }

    .contact .contact-info a {
        color: var(--color_tints_9);
    }

    @media (max-width: 767px) {
        .contact .social {
            margin-bottom: 18px;
        }
    }

    .contact .contact-info a:hover {
        color: var(--color_dominante);
    }

    .contact .contact-info i {
        width: 30px;
        color: var(--color_tints_3);
    }

    .contact .social {
        position: relative;
        width: 100%;
    }

    .contact .social a {
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 40px;
        height: 40px;
        padding: 1px 0;
        text-align: center;
        font-size: 22px;
        border: 1px solid var(--color_tints_3);
    }

    .contact .social a i {
        color: var(--color_tints_3);
    }

    .contact .social a:hover {
        background: var(--color_tints_3);
    }

    .contact .social a:hover i {
        color: #ffffff;
    }
</style>