---
import Briefcase from "../components/icons/Briefcase.astro";
import WorksExpItem from "../components/WorkExpItem.astro";
const EXPERIENCIE = [
    {
        date: "Mayo 2024 - Actualmente...",
        title: "Desarrollador de software",
        company: "Boreal Technologies",
        description: `<p>Desarrollador de software con experiencia en el diseño y desarrollo de aplicaciones web utilizando tecnologías como Node.js, Spring Boot, Django, React y Angular.
        En mi rol actual, contribuyo al desarrollo de microservicios, la integración de API Rest y el despliegue en Azure Devops. Además, trabajo utilizando herramientas como JIRA, GIT y GitHub.</p>
        <p>• Como Desarrollador Backend con experiencia en la creación y mantenimiento de APIs RESTful robustas y escalables, principalmente utilizando Java con Spring Boot, Node.JS, así como Python con Django, siguiendo el patrón de diseño Modelo-Vista-Controlador (MVC). He participado activamente en el diseño y optimización de modelos de datos y consultas SQL en bases de datos relacionales como PostgreSQL y MySQL, además de tener experiencia trabajando con bases de datos NoSQL como MongoDB. Mis responsabilidades incluyen el desarrollo de servicios backend desde cero, la implementación de nuevas funcionalidades y la mejora continua de la seguridad de las aplicaciones. He trabajado bajo metodologías ágiles como Scrum y aplicando principios de Test Driven Development (TDD) para asegurar la calidad y fiabilidad del código.
        </p>
        <p>• Como Desarrollador Frontend con experiencia en el diseño, desarrollo e implementación de interfaces de usuario intuitivas y responsivas utilizando Angular 13 y 19, implementando Angular Material, Routing, etc. En React, he trabajado con Hooks, Functional Components y React Router. También tengo experiencia en la integración de API Rest para la comunicación entre el frontend y el backend. Además, tengo experiencia en el manejo de estilos con CSS, Material UI y Styled Components, así como en la realización de solicitudes HTTP.</p>`,
    },
    {
        date: "Diciembre 2020 - Mayo 2024",
        title: "Software Developer",
        company: "Autónomo",
        description: `<p>Desarrollador de aplicaciones de escritorio y app webs autónomo, dispuesto a ofrecer soluciones tecnológicas personalizadas.</p>
        <p>Desarrollo de herramientas a medida para la gestión de inventarios, control de ventas y administración de recursos, que optimizan procesos y mejoran la eficiencia operativa.</p>
        <p>Podés visualizar mis proyectos en la sección 'Proyectos' de LinkedIn, en donde está todo el detalle de los proyectos en los que estuve involucrado.</p>`,
    },
];
---

<div id="work-exp">
    <div class="container">
        <header class="section-header">
            <h2>
                <Briefcase class="size-8" />
                Experiencia laboral
            </h2>
        </header>
        <ol class="experience-list">
            {
                EXPERIENCIE.map((experiencie) => (
                    <li>
                        <WorksExpItem {...experiencie} />
                    </li>
                ))
            }
        </ol>
    </div>
</div>

<style>
    #work-exp {
        max-width: 1100px;
        margin: auto;
        margin-bottom: 8rem;
        padding-top: 80px;
    }

    .experience-list {
        position: relative;
        margin: 3rem 0;
    }
</style>
