---
import Briefcase from "../components/icons/Briefcase.astro";
import WorksExpItem from "../components/WorkExpItem.astro";
const EXPERIENCIE = [
    {
        date: "Mayo 2024 - Actualmente...",
        title: "Desarrollador de software",
        company: "Boreal Technologies",
        description:
            "Diseño, desarrollo e implementación de interfaces de usuario intuitivas utilizando Java, JSF y PrimeFaces. Creación y mantenimiento de APIs REST utilizando tecnologías como Java con Spring Boot, y también Python y Django, siguiendo la arquitectura modelo-vista-controlador (MVC). Optimización de consultas SQL y modelado de datos en bases de datos PostgreSQL, MySQL y MongoDB. Colaboración en la mejora de la seguridad y la implementación de nuevas funcionalidades en una aplicación web para un cliente de la empresa. Desarrollo de servicios backend escalables y robustos para soportar las funcionalidades de la aplicación. Trabajé con el enfoque de programación Test Driven Development(TDD) y con el marco de trabajo ágil Scrum.",
    },
    {
        date: "Diciembre 2020 - Mayo 2024",
        title: "Software Developer",
        company: "Autónomo",
        description:
            "Desarrollador de aplicaciones de escritorio y app webs autónomo, dispuesto a ofrecer soluciones tecnológicas personalizadas, como desarrollo de herramientas a medida para la gestión de inventarios, control de ventas y administración de recursos, que optimizan procesos y mejoran la eficiencia operativa. Podés visualizar mis proyectos en la sección 'Proyectos' de LinkedIn, en donde está todo el detalle de los proyectos en los que estuve involucrado.",
    },
];
---

<div id="work-exp">
    <div class="container">
        <header class="section-header">
            <h2>
                <Briefcase class="size-8" />
                Experiencia laboral
            </h2>
        </header>
        <ol class="experience-list">
            {
                EXPERIENCIE.map((experiencie) => (
                    <li>
                        <WorksExpItem {...experiencie} />
                    </li>
                ))
            }
        </ol>
    </div>
</div>

<style>
    #work-exp {
        max-width: 1100px;
        margin: auto;
        margin-bottom: 8rem;
        padding-top: 80px;
    }

    .experience-list {
        position: relative;
        margin: 3rem 0;
    }
</style>
