---
import Briefcase from "../components/icons/Briefcase.astro";
import WorksExpItem from "../components/WorkExpItem.astro";
const EXPERIENCIE = [
    {
        date: "Mayo 2024 - Actualmente...",
        title: "Desarrollador de software",
        company: "Boreal Technologies",
        description:
            "Desarrollador con experiencia en el diseño, desarrollo e implementación de soluciones robustas y escalables utilizando principalmente Java, Spring Boot y JSF. Manejo de bases de datos PostgreSQL, optimización de consultas SQL y modelado de datos. Responsable de colaborar en modificaciones de una interfaz de usuario intuitiva utilizando PrimeFaces. Uno de mis trabajos para la empresa fue contribuir a mejorar la seguridad en el uso de algunas funcionalidades de una app, y la implementacion de nuevas funcionalidades para la app.",
    },
    {
        date: "Diciembre 2020 - Mayo 2024",
        title: "Software Developer",
        company: "Autónomo",
        description:
            "Desarrollador de aplicaciones de escritorio y app webs autónomo, dispuesto a ofrecer soluciones tecnológicas personalizadas, como desarrollo de herramientas a medida para la gestión de inventarios, control de ventas y administración de recursos, que optimizan procesos y mejoran la eficiencia operativa. Podés visualizar mis proyectos en la sección 'Proyectos' de LinkedIn, en donde está todo el detalle de los proyectos en los que estuve involucrado.",
    },
];
---
<div id="work-exp">
    <div class="container">
        <header class="section-header">
            <h2>
                <Briefcase class="size-8" />
                Experiencia laboral
            </h2>
        </header>
        <ol class="experience-list">
            {
                EXPERIENCIE.map((experiencie) => (
                    <li>
                        <WorksExpItem {...experiencie} />
                    </li>
                ))
            }
        </ol>
    </div>
</div>

<style>
    #work-exp {
        max-width: 1100px;
        margin: auto;
        margin-bottom: 8rem;
        padding-top: 80px;
    }

    .experience-list {
        position: relative;
        margin: 3rem 0;
    }
</style>
